<!DOCTYPE html>
<html>
<body>

<h1>Please enter your name</h1>

<form action="/me">
    <input type="text" id="fname" name="fname"  title="Enter your First Name"><br><br>
    <input type="submit">
</form>

</body>
</html>